[submodule ".registry"]
	path = .registry
	url = https://github.com/spang-lab/spang-lab.r-universe.dev
	branch = HEAD
[submodule "FastRet"]
	path = FastRet
	url = https://github.com/spang-lab/FastRet
[submodule "mdrb"]
	path = mdrb
	url = https://github.com/spang-lab/mdrb
[submodule "metabodecon"]
	path = metabodecon
	url = https://github.com/spang-lab/metabodecon
