[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metabodecon"]
	path = metabodecon
	url = https://github.com/spang-lab/metabodecon
